<section class="block container">
  <h2 class="block__heading">Heading</h2>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut distinctio
    necessitatibus expedita a? Illum quo eum aliquam, vitae et facere!
  </p>
</section>
<section class="block block--dark">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">Heading</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut distinctio
        necessitatibus expedita a? Illum quo eum aliquam, vitae et facere!
      </p>
    </header>
  </div>
</section>
<section class="block block--dark block--skewed-right">
  <h2 class="block__heading">Heading</h2>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut distinctio
    necessitatibus expedita a? Illum quo eum aliquam, vitae et facere!
  </p>
</section>
