<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <svg class="icon collapsible__chevron">
      <use xlink:href="images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora maiores,
    nesciunt sequi consectetur unde officiis ipsam facere eos! Adipisci,
    perspiciatis.
  </div>
</div>
<!-- JS 파일을 뒤에 놓는 이유는 execution이 늦게 되게 하기 위해서 이다. Rendering 속도 때문 -->
<script src="js/main.js"></script>
