<section class="block container">
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <div class="media">
        <div class="media__image">
          <span class="icon-container">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#easy"></use>
            </svg>
          </span>
        </div>
        <div class="media__body">
          <h3 class="media__title">Easy Start & Managed Updates</h3>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat
            nisi incidunt suscipit magni totam praesentium, veritatis officiis
            eaque laborum, illum nihil necessitatibus quas quo quaerat quisquam
            ut atque quod ipsam?
          </p>
          <a href="#" class="link-arrow">Learn More</a>
        </div>
      </div>
    </div>
    <picture
      ><source
        type="image/webp"
        srcset="images/easy.webp 1x, images/easy@2x.webp 2x" />
      <source
        type="image/png"
        srcset="images/easy.png 1x, images/easy@2x.png 2x" />
      <img src="images/easy@2x.webp" alt="" class="feature__image"
    /></picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <div class="media">
        <div class="media__image">
          <span class="icon-container">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#easy"></use>
            </svg>
          </span>
        </div>
        <div class="media__body">
          <h3 class="media__title">Easy Start & Managed Updates</h3>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat
            nisi incidunt suscipit magni totam praesentium, veritatis officiis
            eaque laborum, illum nihil necessitatibus quas quo quaerat quisquam
            ut atque quod ipsam?
          </p>
          <a href="#" class="link-arrow">Learn More</a>
        </div>
      </div>
    </div>
    <picture
      ><source
        type="image/webp"
        srcset="images/easy.webp 1x, images/easy@2x.webp 2x" />
      <source
        type="image/png"
        srcset="images/easy.png 1x, images/easy@2x.png 2x" />
      <img src="images/easy@2x.webp" alt="" class="feature__image"
    /></picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <div class="media">
        <div class="media__image">
          <span class="icon-container">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#easy"></use>
            </svg>
          </span>
        </div>
        <div class="media__body">
          <h3 class="media__title">Easy Start & Managed Updates</h3>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat
            nisi incidunt suscipit magni totam praesentium, veritatis officiis
            eaque laborum, illum nihil necessitatibus quas quo quaerat quisquam
            ut atque quod ipsam?
          </p>
          <a href="#" class="link-arrow">Learn More</a>
        </div>
      </div>
    </div>
    <picture
      ><source
        type="image/webp"
        srcset="images/easy.webp 1x, images/easy@2x.webp 2x" />
      <source
        type="image/png"
        srcset="images/easy.png 1x, images/easy@2x.png 2x" />
      <img src="images/easy@2x.webp" alt="" class="feature__image"
    /></picture>
  </article>
</section>
