<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start & Managed Updates</h3>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat nisi
      incidunt suscipit magni totam praesentium, veritatis officiis eaque
      laborum, illum nihil necessitatibus quas quo quaerat quisquam ut atque
      quod ipsam?
    </p>
  </div>
</div>
