<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta modi, est
    sed deserunt vitae accusantium ipsa voluptas perferendis molestias quis
    dolorem praesentium itaque. Accusantium, hic iusto minus id qui rerum?
  </p>
</blockquote>
<footer>
  <div class="media">
    <div class="media__image">
      <svg class="icon icon--primary quote__line">
        <use xlink:href="images/sprite.svg#line"></use>
      </svg>
    </div>
    <div class="media__body">
      <h3 class="media__title quote__author">John Smith</h3>
      <p class="quote__organization">ABC Company</p>
    </div>
  </div>
</footer>
